@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'IBM Plex Sans', sans-serif;
}

.text-mono {
    font-family: 'IBM Plex Mono', monospace;
}


.tab-scroll {
  scrollbar-width: thin;              /* Firefox */
  scrollbar-color: #cbd5e1 #f1f5f9;   /* Firefox */
}

.tab-scroll::-webkit-scrollbar {
  height: 6px;                        /* Chiều cao thanh ngang */
  background: #f1f5f9;                /* Màu nền thanh scroll */
  border-radius: 8px;
}

.tab-scroll::-webkit-scrollbar-thumb {
  background: #cbd5e1;                /* Màu thanh kéo */
  border-radius: 8px;
  transition: background 0.2s;
}

.tab-scroll::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;                /* Màu khi hover */
}

#TD-PrimaryTools{
    border: 1px solid black !important;
    border-radius: 0px !important;
}
.c-dDmgQi .c-ijWVhN{
    border: 1px solid black !important;
    border-radius: 0px !important;
}


